.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
body{
	background: url(../img/3765c625.jpeg) center top no-repeat fixed;
	background-size: 100% 100%;
	max-height: 1200px;
	margin: auto;
}
.A{
	max-width: 1200px;
	margin: auto;
}
.logo img{
	width: 80px;
	height: auto;
} 
header{
	margin: 30px 0;
	position: relative;
}
nav{
	position: absolute;
	top: 0;
	right: 0;
}
ul{
	list-style-type: none;
}
ul li{
	float: left;
	margin: 20px 30px;
}
ul li a{
	text-decoration: none;
	color: #fff;
}
nav ul li a{
	padding: 20px;
	border: 1px solid transparent;
	transition: all .5s;
}
nav ul li a:hover{
	border: 1px solid lightcoral;
	color: lightblue;
}
.C li{
	float: left;
	width: 160px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background-color: rgba(100,200,200,.5);
	border-radius: 10px;
	transition: all .5s;
}
.C li:hover{
	border-radius: 0px;
	background-color: rgba(100,255,255,.8);
}
.E figure{
	width: 26%;
	float: left;
	position: relative;
}
.E figure img{
	width: 100%;
	height: auto;
}
.E figure figcaption{
	width: 100%;
	height: 30px;
	position: absolute;
	margin: auto;
	 left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: all .5s;
}
.E figure figcaption:hover{
	opacity: 1;
}
